$ColorLinkVisitado: #fff;
$colorLink: #fff;
$colorHeader: #224a92;
$colorFondoNavMovil: linear-gradient(180deg, #224a92, #8fafec);
$colorFondoHeader: #224a92;
$colorFondoFooter:#8fafec;
$colorLetraFooter:#000;
$colFondoMovil: linear-gradient(180deg, #224a92, #8fafec);
$colAsideMov:#8fafec ;